
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
</head>
<body>
    <h1>Profile</h1>
    <hr />
    <img src="~/images/gorakhshindeimage.jpg" alt="ProfileImage" width="100px" height="100px">
    <br />
    <hr />
    <ul>
        <li>
            <h2>About us</h2>
            <ul>
                <li><b>First name: </b>Gorakh</li>
                <li><b>Last name: </b>Shinde</li>
                <li><b>Address: </b>Stockholm, Sweden</li>
                <li><b>Pin code: </b>19268</li>
                
            </ul>
        </li>

        <li>
            <h2>Contact us</h2>
            <ul>
                <li><b>Mobile: </b>+91/9923731039</li>
                <li><b>Email: </b>gorakhshankarshinde@gmail.com</li>
            </ul>
        </li>

    </ul>
    <hr />
</body>
</html>