
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    <form action="https://www.youtube.com/results">
        <h4>Search on youtube</h4>
    <hr />
    <input type="text" placeholder="Search in youtube" name="search_query" />
    <input type="submit" name="search_query" />

    </form>
    <hr />
    <form action="https://www.google.com/search">
        <h4>Search on google</h4>
        <hr />
        <input type="text" placeholder="Search in googole" name="q" />
        <input type="submit" />
    </form>
</body>
</html>